<!DOCTYPE html>
<html>
  <head>
    <title>Form Login</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </head>
  <body>
    <!-- <img class="wave" src="../assets/img/wave.png"> -->
    <div class="container">
      <div class="img">
        <img src="../assets/img/others-fitur.svg" />
      </div>
      <div class="login-content">
        <div class="form" id="loginForm">
          <img src="../assets/img/avatar1.svg" />
          <h2 class="title">Welcome</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                id="username"
                type="text"
                placeholder="Username"
                class="input"
                required
              />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                id="password"
                type="password"
                placeholder="Password"
                class="input"
                required
              />
            </div>
          </div>
          <br />
          <button class="btn" id="submit">Login</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../js/admin/login.js"></script>
  </body>
</html>
